/** CSS for Tiny console, a jQuery plugin
 * Author: Malcom Wu
 */

.tiny-console {
    background-color: #eee;
    height: 500px;
    border: 2px solid #a0e8a6;
    padding: 15px 20px;
    /* margin-top: 0.7em; */
    border-radius: 5px;
    box-shadow: 0px 0px 9px #a0e8a6;
    overflow: auto;
}

.entry-prompt, .entry-input, .entry-output {
    /* font-family: "Courier New", Courier, monospace; */
    font-size: 1em;
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.entry-prompt {
    color: #248F24;
}

.entry-input {
    font-weight: bold;
    outline-width: 0;
}

.entry-output {
    margin: 0;
    padding: 0;
}

.compiler-middle, .compiler-start, .compiler-end {
    color: white;
    background-color: blue;
    opacity: 0.6;
}

.compiler-middle {
    margin: 0 3px;
    padding: 0 4px 0 5px;
    border-radius: 8px;
}

.compiler-start {
    margin: 0 3px;
    padding: 0 3px 0 6px;
    border-radius: 8px 0 0 8px;
}

.compiler-end {
    margin: 0 3px;
    padding: 0 6px 0 3px;
    border-radius: 0 8px 8px 0;
}

.m68k-keyword {
    color: navy;
    font-weight: bold;
}

.m68k-branch {
    color: green;
    font-weight: bold;
}

.m68k-label {
    color: white;
    background-color: green;
    opacity: 0.6;
    padding: 0 3px;
    border-radius: 3px;
}

.m68k-error {
    display: block;
    background-color: white;
    background-image: url('../img/error.png');
    background-repeat: no-repeat;
    background-position: 3px 50%;
    border: 1px solid #a1a1a1;
    border-radius: 4px;
    margin: 5px 0;
    padding: 2px 2px 2px 23px;
    color: red;
    font-style: italic;
}