<button type="button" class="close" data-dismiss="alert">&times;</button>
<b>NOTICE:</b> You are highly recommanded to read the original article:
<a href="http://compilers.iecc.com/crenshaw/<%= ch ? 'tutor' + ch + '.txt' : '' %>" target="_blank">
    <b><%= (ch ? 'PART&nbsp;' + ch + ':&nbsp;' + title : 'Let\'s Build a Compiler') + ', by&nbsp;Jack&nbsp;Crenshaw.' %>
    </b>
</a>
