$lightGreen: #E9FBF2;
$darkGreen: darken($lightGreen, 80%);

$heroUnitBackground: $lightGreen; 
$heroUnitHeadingColor: $darkGreen;
$heroUnitLeadColor: $darkGreen;
$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';
@import 'vendor/prettify';
@import 'tiny-console';

@media (max-width: 980px) {
    // Enable use of floated navbar text
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.hero-unit {
    // background-color: $lightGreen;
    h1 {
        font-size: 2em;
    }
}

.accordion {
    .disabled {
        pointer-events: none;
    }
    .accordion-group {
        margin-bottom: 0;
    }
    .accordion-toggle {
        text-align: left;
    }
    .accordion-inner {
        margin: 0;
        padding: 0;
    }
}

.footer {
    color: $darkGreen;
    background-color: $lightGreen;
    border-top: 1px solid darken($lightGreen, 10%);
    margin-top: 10px;
    padding: 30px 0;
    text-align: center;
}
