@import 'sass-bootstrap/lib/bootstrap';
/* Responsive */
@import 'sass-bootstrap/lib/responsive-utilities';
// @import 'sass-bootstrap/lib/responsive-navbar';
@import 'sass-bootstrap/lib/responsive-1200px-min';
@import 'sass-bootstrap/lib/responsive-768px-979px';
@import 'sass-bootstrap/lib/responsive-767px-max';
@import 'tiny-console';

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.hero-unit {
    margin-bottom: 10px;
    h1 {
        font-size: 2em;
    }
}

#main-container {
    padding-top: 20px;
}

// Add disabled state for items in accordion menu
.accordion .disabled a {
    pointer-events: none;
    color: #aaa;
}
