$lightGreen: #E9FBF2;
$darkGreen: darken($lightGreen, 80%);

$heroUnitBackground: $lightGreen;
$heroUnitHeadingColor: $darkGreen;
$heroUnitLeadColor: $darkGreen;
$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';
@import 'vendor/prettify';
@import 'tiny-console';

.hero-unit {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1em;
        line-height: 1.5em;
        font-weight: normal;
    }
}

.accordion {
    .disabled {
        pointer-events: none;
    }
    .accordion-group {
        margin-bottom: 0;
    }
    .accordion-toggle {
        text-align: left;
    }
    .accordion-inner {
        margin: 0;
        padding: 0;
    }
}


.btn-toolbar {
    display: none;
}

#doc {
    h1, h2, h3 {
        margin-top: 0;
        color: #000;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
        border-bottom: 1px solid #ccc;
    }
    h3 {
        font-size: 18px;
    }
}

.dropdown-menu {
    min-width: 55px;
    i {
        display: inline-block;
        width: 14px;
        padding-right: 8px;
    }
    > li > a {
        padding-left: 10px;
    }
}

#control-buttons {
    margin: 15px 0;
    float: right;
}

#editor-area {
    display: none;
    position: relative;
    #editor {
        resize: vertical;
        height: 150px;
        font-family: $monoFontFamily;
    }
    #run-button {
        position: absolute;
        top: 0;
        right: 0;
    }
}

#console {
    display: none;
    margin-bottom: 20px;
    resize: vertical;
}

.footer {
    color: $darkGreen;
    background-color: $lightGreen;
    border-top: 1px solid darken($lightGreen, 10%);
    margin-top: 10px;
    padding: 30px 0;
    text-align: center;
}
